.container{
    margin-bottom: 100px;
}
.carosol-bg {
    background-color: #fceae8;
    border-radius: 14px;
    
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: coral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100% );
    color: #FFFF;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.flover1{
    
    color: #FF136F;
    font-family: 'Times New Roman', Times, serif; 
}
.cat1{
  background-color: chocolate;
  padding: 8px 15px;
  border-radius: 10px;
}
.cat2{
    background-color: violet;
    padding: 8px 30px;
  border-radius: 10px;
}
.cat3{
    background-color: orangered;
    padding: 8px 22px;
  border-radius: 10px;
}
.cat4{
    background-color: orange;
    padding: 8px 25px;
  border-radius: 10px;
}
.catagories h2{
    color: #fceae8;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    
}




.about {
    padding: 80px 0;
  }
  
  .about h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .about p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  .about ul.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .about ul.contact-list li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .about ul.contact-list li i {
    font-size: 24px;
    margin-right: 10px;
    color: #4267B2;
  }
  
  .about ul.contact-list li a {
    color: #4267B2;
    text-decoration: none;
  }
  
  .about ul.contact-list li a:hover {
    text-decoration: underline;
  }
  
  .about img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
  }
  
  @media (max-width: 767px) {
    .about {
      text-align: center;
    }
    
    .about img {
      max-width: 100%;
    }
    
    .about .col-md-6 {
      margin-bottom: 30px;
    }
  }
  